*{padding: 0px;margin: 0px;}
.bike-thiks{padding: 10px 10px;}
.bike-thiks h2{padding: 10px 10px; text-align: center;font-size: 25px;color: #;font-weight: bolder;}
.box-1{padding: 10px 10px;  }
.box-2{padding: 10px 10px;  }
.box-3{padding: 10px 10px;  }
.box-4{padding: 10px 10px;  }

.box-1 img{ width: 200px;height: 200px; }
.box-2 img{ width: 200px;height: 200px; }
.box-3 img{ width: 200px;height: 200px; }
.box-4 img{ width: 200px;height: 200px; }

.box-1 label{text-align: center;}
.box-2 label{text-align: center;}
.box-3 label{text-align: center;}
.box-4 label{text-align: center;}

.box-1:hover{box-shadow: 1px 1px 1px 1px #ccc;}
.box-2:hover{box-shadow: 1px 1px 1px 1px #ccc;}
.box-3:hover{box-shadow: 1px 1px 1px 1px #ccc;}
.box-4:hover{box-shadow: 1px 1px 1px 1px #ccc;}

.box-1 p{font-weight: bold;}
.box-2 p{font-weight: bold;}
.box-3 p{font-weight: bold;}
.box-4 p{font-weight: bold;}

.quick-btn{color: #fff;background-color: green;margin-left: 30%;}
.quick-btn:hover{color: #fff;background-color: green;margin-left: 30%;}
.quick-btn:active{color: #fff;background-color: green;margin-left: 30%;}

.add-cart{color: #fff;background-color: red;margin-left: 0%;border: none;}
.add-cart:hover{color: #fff;background-color: red;margin-left: 0%;border: none;}
.add-cart:active{color: #fff;background-color: red;margin-left: 0%;border: none;}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;}
.btn-close{    background-color: red !important;    padding: 3px 10px !important;    margin-top: -13px !important;
}
.btn-close:hover{    background-color: red !important;    padding: 3px 10px !important;    margin-top: -13px !important;
}
.box-nine{
	background-color: red;
	height: 450px;
}
/* ########Responsive css ##########*/

@media only screen and (min-width: 320px){

}
@media only screen and (min-width: 480px){

}
@media only screen and (min-width: 768px){
.box-1 img{ width: 70%;height: auto; }
.box-2 img{ width: 70%;height: auto; }
.box-3 img{ width: 70%;height: auto; }
.box-4 img{ width: 70%;height: auto; }

.quick-btn{color: #fff;background-color: green;margin-left: 41%;}
.quick-btn:hover{color: #fff;background-color: green;margin-left: 41%;}
.quick-btn:active{color: #fff;background-color: green;margin-left: 41%;}
}
@media only screen and (min-width: 992px){

}
@media only screen and (min-width: 1200px){

}